<!DOCTYPE html>
<html>
<style>
    input.search {
        width: 5em;
        height: 2em;
    }
</style>

<head>
    <title>LMDB visualizer</title>
</head>
<body>
<h2>Welcome to lmdb visualizer!</h2><br>
<form method="POST" enctype="multipart/form-data">
    <label>please input lmdb folder of cfg file your want to visualize: </label><input type="text" name="lmdb_folder">
    <br>
    <input class="search" type="submit" name="submit_button" value="enter">
</form>
<h2>Q&A:</h2><br>
<ol>
    <li>Q: TODO<br>
    A: TODO.</li>
</ol>


</body>
</html>